@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: sandybrown;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}